<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" >
	
	<a class="navbar-brand btn btn-warning" href="#">
		<img src="../../assets/fresh-eats-logo.png" width="50" height="50" alt="FRESH EATS">
		FRESH EATS
	</a>

	<!-- keep navbar padding and formatting -->
	<ul class="navbar-nav mr-auto ">

		<li class="nav-item active">
			<a class="nav-link" href="#"> Order Online <span class="sr-only">(current)</span></a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#"> How it Works <span class="sr-only">(current)</span></a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#"> Meals <span class="sr-only">(current)</span></a>
		</li>

	</ul>

	<form class="form-inline d-flex justify-content-around">
		<button class="d-inline btn btn-outline-success my-2 my-sm-0">GET STARTED</button>
		<button class="d-inline btn btn-outline-primary my-2 my-sm-0">login</button>
	</form>

</nav>