
<nav class="navbar navbar-expand-md navbar-light bg-light">

	<a class="navbar-brand BoldHeadFont" href="#" style="font-size: 2em">
		<img src="../../assets/fresh-eats-logo.png" width="50" height="50" alt="Fresh Eats">
		Fresh Eats
	</a>

	<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_menu">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="collapse_menu">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#"> Order Online <span class="sr-only">(current)</span></a>
			</li>
	
			<li class="nav-item">
				<a class="nav-link" href="#"> How it Works <span class="sr-only">(current)</span></a>
			</li>
	
			<li class="nav-item">
				<a class="nav-link" href="#"> Meals <span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
