<hr class="bg-light" />	
<div class="container">
		
		<div class="row">
			<div class="meal-process-container">

				<div class="step-process step1 card text-center">
					<h4 class="card-header text-bold">Select the meal-plan of your choice.</h4>
					<div class="order-meal">
						<img class="order-meal-image" src="../assets/order.png">
					</div>
					<div class="card-body">
						<h4 class="card-text lead">Choose between individual meals and a meal plan that can delivered each week!</h4>
						<button class="btn btn-info font-weight-bold">GET STARTED</button>
					</div>
				</div>

				
				<div class="step-process step1 card text-center">
					<h4 class="card-header text-bold">Select a delivery/pickup time that suits you.</h4>
					<div class="order-meal">
						<img class="order-meal-image" src="../assets/shipped.png">
					</div>
					<div class="card-body">
						<h4 class="card-text lead">Deliveries are optional for our clients and pickup times can also be arranged.</h4>
					</div>
				</div>

					
				<div class="step-process step1 card text-center">
					<h4 class="card-header text-bold">Time To Eat!</h4>
					<div class="order-meal">
						<img class="order-meal-image" src="../assets/food.png">
					</div>
					<div class="card-body">
						<h4 class="card-text lead">Delicious, nutritious and in less than three steps...its that easy!</h4>
					</div>
				</div>
			</div>
			
		</div>

</div>