
<!-- put inside its own container to make it smaller at full screens
	also inline with "how do we work?"
-->
<div class="container">
	<div class="row">

			<div  class="flex-images">
				<div class="image-container image-7"></div>
				<div class="image-container catering-2"></div>
				<div class="image-container image-9"></div>
			</div>
			<div class="flex-images">
				<div class="image-container catering-1"></div>
				<div class="image-container image-8"></div>
				<div class="image-container catering-3"></div>
			</div>
	</div>
</div>

