<app-navbar></app-navbar>

<div class="container-fluid bg-dark">

	<!-- this is where the mainform images row begins -->
	<div class="row h-100 mainform-images no-gutters">

		<div class="mainform-image-logo-container">
			<div class="card text-center text-white bg-dark mb-3 border-white">
				<!-- <h3 class="card-header text-bold"></h3> -->
				<img class="card-img-top" src="../assets/fresh-eats-logo.png" alt="Fresh eats" style="background-color: white">	
				<div class="card-body">
					<h4 class="card-text">Family fresh meals delivered to your doorstep every week!</h4>
					<button class="btn btn-info font-weight-bold">SEE OUR RANGE</button>
				</div>
			</div>
		</div>

		<div class="col-sm-2 ">
			<div class="mainform-image-container image-3"></div>
			<div class="overlay overlay-1"></div>
		</div>
		<div class="col-sm-2 ">
			<div class="mainform-image-container image-2"></div>
			<div class="overlay overlay-2"></div>
		</div>
		<div class="col-sm-2 ">
			<div class="mainform-image-container image-6"></div>
			<div class="overlay overlay-3"></div>
		</div>
		<div class="col-sm-2 ">
			<div class="mainform-image-container image-1"></div>
			<div class="overlay overlay-4"></div>
		</div>
		<div class="col-sm-2 ">
			<div class="mainform-image-container image-5"></div>
			<div class="overlay overlay-5"></div>
		</div>
		<div class="col-sm-2 ">
			<div class="mainform-image-container image-4"></div>
			<div class="overlay overlay-6"></div>
		</div>

	</div>

	<div class="row">
		<div class="col-lg-12 text-center mainform-heading-black">
			<h3 class="display-5">How do we work?</h3>
		</div>
	</div>

</div>

<hr class="bg-light" />	
<div class="container">

	<div class="row d-flex justify-content-around">
		
		<div class="col-sm-4">
			<div class="card text-center font-weight-bold bg-light ">
				<h4 class="card-header text-bold">Select the meal/meal-plan of your choice.</h4>
				<div class="order-meal">
					<img class="order-meal-image" src="../assets/order.png">
				</div>
				<div class="card-body">
					<h4 class="card-text lead">Choose between individual meals and a meal plan that can delivered each week!</h4>
					<button class="btn btn-info font-weight-bold">GET STARTED</button>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card text-center font-weight-bold bg-light h-100">
				<h4 class="card-header text-bold">Select a delivery/pickup time that suits you.</h4>
				<div class="order-meal">
					<img class="order-meal-image" src="../assets/shipped.png">
				</div>
				<div class="card-body">
					<h4 class="card-text lead">Deliveries are optional for our clients and pickup times can also be arranged.</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card text-center font-weight-bold bg-light h-100">
				<h4 class="card-header text-bold">Eat Your Meal!</h4>
				<div class="order-meal">
					<img class="order-meal-image" src="../assets/food.png">
				</div>
				<div class="card-body">
					<h4 class="card-text lead">Delicious, nutritious and in less than three steps...its that easy!</h4>
				</div>
			</div>
		</div>

		<div class="row bg-light">
			<hr />
			<div class="col-lg-12 mainform-heading-white">
				<h3 class="display-5">THE WEEKLY MENU</h3>
			</div>
		</div>
	</div>



</div>

<div class="container-fluid">
  <div class="row flex-images">

  	<div class="col-lg-8 d-flex justify-content-around">
  		<div class="col WYG-image-container image-7"></div>
    	<div class="col WYG-image-container catering-2"></div>
    	<div class="col WYG-image-container image-9"></div>
  	</div>
 
  	 <div class="col-lg-8 d-flex justify-content-around">
  		<div class="col WYG-image-container catering-1"></div>
    	<div class="col WYG-image-container image-8"></div>
    	<div class="col WYG-image-container catering-3"></div>
  	</div>

  </div>
    <div class="row bg-dark">
		<div class="col-lg-12 text-center mainform-heading-black">
			<h3 class="display-5">Our Meal Plans</h3>
		</div>
	</div>
	<hr />

	 <div class="row meal-images">

	  	<div class="col-lg-12 d-flex justify-content-around">

			<div class="col-sm-2">
				<div class="card text-center font-weight-bold bg-dark text-white ">
					<h4 class="card-header text-bold">Vegetarian</h4>
					<img class="meal-plan-image-container" src="../assets/broccoli.png">
					<div class="card-body">
						<button class="col-12 btn btn-success card-text lead">View Plan</button> 
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card text-center font-weight-bold bg-dark text-white ">
					<h4 class="card-header text-bold">Fruit Lovers</h4>
					<img class="meal-plan-image-container" src="../assets/pomegranate.png">
					<div class="card-body">
						<button class="col-12 btn btn-warning card-text lead">View Plan</button> 
					</div>
				</div>
			</div>


			<div class="col-sm-2">
				<div class="card text-center font-weight-bold bg-dark text-white ">
					<h4 class="card-header text-bold">Dinner crate</h4>
					<img class="meal-plan-image-container" src="../assets/vegetables.png">
					<div class="card-body">
						<button class="col-12 btn btn-white card-text lead">View Plan</button> 
					</div>
				</div>
			</div>


			<div class="col-sm-2">
				<div class="card text-center font-weight-bold bg-dark text-white ">
					<h4 class="card-header text-bold">Brainfood</h4>
					<img class="meal-plan-image-container" src="../assets/fish.png">
					<div class="card-body">
						<button class="col-12 btn btn-info card-text lead">View Plan</button> 
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="card text-center font-weight-bold bg-dark text-white ">
					<h4 class="card-header text-bold">Something Meaty</h4>
					<img class="meal-plan-image-container" src="../assets/steak.png">
					<div class="card-body">
						<button class="col-12 btn btn-danger card-text lead">View Plan</button> 
					</div>
				</div>
			</div>


  	</div>

  </div>


	<div class="row bg-dark">
		<div class="col-lg-12 text-center mainform-heading-black">
			<h3 class="display-5">About Us</h3>
		</div>
	</div>
	<hr />

	<div class="row bg-light">
		<div class="col-lg-12 text-center mainform-heading-white">
			<h3 class="display-5">Contact Us</h3>
		</div>
	</div>

</div>


<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>



<!-- 
As a user I have an awesome landing page which gives me some information about Fresh Eats and its staff so that I can trust the brand
As a user I can view and use the website on all my devices / screens
As a user I can see a range of products which I can order.
As a user I can see nutritional information about the food so I can make more informed choices.
As a user I can contact Fresh Eats through the website so communication is easier
As a user I can login so that the website can remember my information.
As a user I can create a meal plan that  will be made each week/month.
As a user I can order from an inventory of available meals
As a user I can add products to a shopping-cart so I can proceed to payment when I finish shopping.
As a user I can pay for my meals effortlessly with my card
As a user I can complete a quote form to obtain quotes for tastings and catering events
As a user I can make payment upon acceptance of a quote
As a user I can rate and comment on meals so I can tell others what I think and see other opinions.
As the owner I can add stock available to be ordered.
As the owner I can receive email notifications for new orders placed and paid for
As the owner I can see how much stock in inventory has been ordered and how much is still available
As the owner I can add blog messages on the website
As the owner my blog messages will be added to other social media
As the owner I can add images to a gallery
As the owner the images added will be added to other social media -->