

<div class="container-fluid">
	<div class="row">
		<div class="overlay">
			<div class="overlay-image">
				<img src="../../assets/fresh-eats-logo2.png">
				<h4 class="overlay-slogan OstrichBold">Family Fresh food to your doorstep.</h4>
			</div>
		
		</div>

		<div class="LandingImageFlex">
		
			<div class="LandingImage image-1 background-image"></div>
			<div class="LandingImage image-2 background-image"></div>
			<div class="LandingImage image-3 background-image"></div>
			<div class="LandingImage image-4 background-image"></div>
			<div class="LandingImage image-5 background-image"></div>
			<div class="LandingImage image-6 background-image"></div>
		</div>
	</div>
</div>